{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogs</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ blogpost.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ blogpost.body }}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if blogpost.publicationDate %}{{ blogpost.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Back to the list</a>
        </li>
    </ul>

    <h3>Post a comment!</h3>
    {{ form_start(comment_form) }}

    {{ form_end(comment_form) }}
    <br />
    <h2>Comments</h2>
    <table>
        {% for comment in comments %}
            <tr>
                <td>
                    {{ comment.comment }}
                </td> 
            </tr>
            <tr>
                <td>
                    {{ comment.name }}
                </td> 
            </tr>
            <tr>
                <td>
                    {{ comment.publicationDate|date('Y-m-d H:i:s') }}
                </td> 
            </tr>
            {% endfor %}
    </table>
{% endblock %}
