{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogpost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogpost.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ blogpost.author }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogpost.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ blogpost.body }}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if blogpost.publicationDate %}{{ blogpost.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogpost_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blogpost_edit', { 'id': blogpost.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
